toolbarpaletteitem {
    &[place="palette"] > toolbaritem.ucf-additional-springs {
        background: white url("./svg/spring.svg") center no-repeat;
        border: none;
        outline: 1px solid currentColor;
        outline-offset: -1px;
        min-height: 37px;
        opacity: 0.3;
    }
    &[place="toolbar"] > toolbaritem.ucf-additional-springs,
    &[place="panel"] > toolbaritem.ucf-additional-springs,
    &[place="menu-panel"] > toolbaritem.ucf-additional-springs {
        background: white url("./svg/spring.svg") center no-repeat;
        border: none;
        min-width: 34px;
        min-height: 14px;
        outline: 1px solid currentColor;
        outline-offset: -1px;
        margin-block: 2px !important;
        margin-inline: 1px !important;
        opacity: 0.3;
    }
    &[place="palette"][id*="ucf-additional-top-spring"],
    &[place="palette"][id*="ucf-additional-vertical-spring"],
    &[place="palette"][id*="ucf-additional-bottom-spring"] {
        vertical-align: top;
    }
    &[place] > toolbaritem.ucf-additional-springs {
        -moz-window-dragging: no-drag !important;
    }
}
#ucf-restart-app {
    list-style-image: url("./svg/restart-app.svg") !important;
    fill: color-mix(in srgb, currentColor 20%, #f38725) !important;
}
#ucf-additional-vertical-toggle-button {
    list-style-image: url("./svg/vert-toolbar.svg") !important;
}
#ucf-additional-top-toggle-button {
    list-style-image: url("./svg/top-toolbar.svg") !important;
}
#ucf-additional-bottom-toggle-button {
    list-style-image: url("./svg/bottom-toolbar.svg") !important;
}
#ucf-view-history-sidebar-button {
    list-style-image: url("./svg/history.svg") !important;
}
#ucf-view-bookmarks-sidebar-button {
    list-style-image: url("./svg/bookmark.svg") !important;
}
#ucf-open-directories-button {
    list-style-image: url("./svg/user-home.svg") !important;
}
:root[lwtheme="true"] #browser-bottombox {
    background: none !important;
}
#ucf-additional-top-bar,
#ucf-additional-vertical-bar,
#ucf-additional-bottom-bar {
    appearance: none !important;
    padding: 0 !important;
    border-block: none !important;
    overflow: clip;
}
#ucf-additional-bottom-bar {
    border-top: 1px solid var(--chrome-content-separator-color,rgba(0,0,0,0.1)) !important;
    #ucf-additional-bottom-closebutton {
        margin: 0 var(--toolbarbutton-outer-padding, 1px) !important;
        padding: var(--toolbarbutton-inner-padding, 2px) !important;
        width: calc(2 * var(--toolbarbutton-inner-padding, 2px) + 16px) !important;
        .toolbarbutton-icon {
            margin: 0 !important;
            padding: 0 !important;
            height: 16px !important;
            width: 16px !important;
        }
    }
    &[collapsed="true"][customizable="true"][customizing="true"] {
        visibility: collapse !important;
        padding: 0 !important;
        border: none !important;
        min-height: 0 !important;
    }
}
#ucf-additional-top-box[topautohide="true"] > #ucf-additional-top-bar,
#ucf-additional-vertical-box > #ucf-additional-vertical-bar,
#ucf-additional-bottom-bar {
    -moz-window-dragging: no-drag !important;
    background-clip: border-box !important;
    background-origin: border-box !important;
    background-color: var(--toolbar-bgcolor, -moz-Dialog) !important;
    color: var(--toolbar-color, -moz-DialogText) !important;
    border-inline: none !important;
    :root[lwtheme="true"] & {
        color: var(--toolbar-color, inherit) !important;
        background-repeat: no-repeat, repeat-y !important;
        background-position: right top, var(--lwt-background-alignment, right top) !important;
        background-color: var(--lwt-accent-color, transparent) !important;
        background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, var(--lwt-additional-images, none)) !important;
        background-attachment: scroll, fixed !important;
    }
}
#ucf-additional-vertical-container {
    display: flex !important;
    &[vertautohide="true"] {
        position: relative !important;
        min-width: 0px !important;
        width: 0px !important;
        max-width: 0px !important;
        overflow: visible !important;
    }
    #ucf-additional-vertical-box {
        background: none !important;
        border: none !important;
        box-shadow: none !important;
        margin: -1px 0 !important;
        position: relative !important;
        z-index: 3 !important;
        transition-property: margin-top !important;
        transition-timing-function: linear !important;
        transition-duration: 0.2s !important;
        transition-delay: 0s !important;
        :root[BookmarksToolbarOverlapsBrowser] & {
            margin-top: calc(var(--bookmarks-toolbar-overlapping-browser-height) - 1px) !important;
        }
        :root[v_top_bar_overlaps="true"] & {
            margin-top: calc(var(--v-top-bar-overlaps) - 1px) !important;
        }
        :root[BookmarksToolbarOverlapsBrowser][v_top_bar_overlaps="true"] & {
            margin-top: calc(var(--bookmarks-toolbar-overlapping-browser-height) + var(--v-top-bar-overlaps) - 1px) !important;
        }
        & > #ucf-additional-vertical-bar {
            padding: 1px 0 !important;
            margin: 0 !important;
            min-width: 20px !important;
            width: auto !important;
            flex-grow: 1 !important;
            align-items: stretch !important;
            justify-content: start !important;
            flex-direction: column !important;
            &:not([collapsed="true"]) {
                border-inline-end: 1px solid var(--chrome-content-separator-color,rgba(0,0,0,0.1)) !important;
                #ucf-additional-vertical-box[v_vertical_bar_start="false"] > & {
                    border-inline-end: none !important;
                    border-inline-start: 1px solid var(--chrome-content-separator-color,rgba(0,0,0,0.1)) !important;
                }
            }
            &[collapsed="true"] {
                padding: 0 !important;
                border: none !important;
                min-width: 0 !important;
            }
            & > toolbaritem {
                align-items: stretch !important;
            }
            & > toolbaritem.toolbaritem-combined-buttons {
                flex-direction: column !important;
                margin-inline: 0 !important;
                & > toolbarbutton.toolbarbutton-combined > .toolbarbutton-text {
                    padding-inline: 1px !important;
                    margin-inline: 0 !important;
                    min-width: 0 !important;
                }
                separator {
                    display: none !important;
                }
            }
            & > toolbarspring {
                min-width: 0 !important;
            }
            & > toolbarseparator {
                appearance: none !important;
                padding: 0 !important;
                margin: 2px !important;
                margin-top: 4px !important;
                margin-bottom: 0 !important;
                border: none !important;
                border-top: 1px solid currentColor !important;
                width: auto !important;
                max-width: none !important;
                height: 5px !important;
                min-height: 5px !important;
                max-height: 5px !important;
                opacity: 0.3 !important;
            }
            & > toolbarspacer {
                height: 15px !important;
            }
            & > #personal-bookmarks {
                width: 0 !important;
                flex-grow: 0 !important;
                margin: 0 !important;
                align-self: center !important;
            }
            & > #search-container {
                width: 0 !important;
                overflow-y: visible !important;
                flex-grow: 0 !important;
                min-width: 80px !important;
                margin: 0 !important;
            }
        }
        &[vertautohide="true"] {
            position: absolute !important;
            top: 0 !important;
            bottom: 0 !important;
            inset-inline-start: 0 !important;
            inset-inline-end: auto !important;
            overflow: clip !important;
            pointer-events: none !important;
        }
        &[vertautohide="true"][v_vertical_bar_start="false"] {
            inset-inline-start: auto !important;
            inset-inline-end: 0 !important;
        }
        &[vertautohide="true"] > #ucf-additional-vertical-bar:not([collapsed="true"]) {
            inset-inline-start: calc(-1 * (100% - 10px)) !important;
            inset-inline-end: auto !important;
            opacity: 0 !important;
            pointer-events: auto !important;
            height: 100% !important;
            position: relative !important;
        }
        &[vertautohide="true"][v_vertical_bar_visible] > #ucf-additional-vertical-bar:not([collapsed="true"]) {
            transition-property: inset-inline, opacity !important;
            transition-timing-function: linear, step-start !important;
            transition-duration: 0.2s, 0s !important;
            transition-delay: 0s, 0.2s !important;
        }
        &[vertautohide="true"][v_vertical_bar_start="false"] > #ucf-additional-vertical-bar:not([collapsed="true"]) {
            inset-inline-start: auto !important;
            inset-inline-end: calc(-1 * (100% - 10px)) !important;
        }
        &[vertautohide="true"][v_vertical_bar_visible^="visible"] > #ucf-additional-vertical-bar:not([collapsed="true"]) {
            inset-inline-start: 0px !important;
            inset-inline-end: auto !important;
            opacity: 1 !important;
            transition-delay: 0s !important;
        }
        &[vertautohide="true"][v_vertical_bar_start="false"][v_vertical_bar_visible^="visible"] > #ucf-additional-vertical-bar:not([collapsed="true"]) {
            inset-inline-start: auto !important;
            inset-inline-end: 0px !important;
        }
        :root[inDOMFullscreen] & > #ucf-additional-vertical-bar:not([collapsed="true"]),
        :root[inFullscreen]:not([OSXLionFullscreen]) & > #ucf-additional-vertical-bar:not([collapsed="true"]):not([fullscreentoolbar="true"]) {
            visibility: collapse !important;
            padding: 0 !important;
            border: none !important;
            min-width: 0 !important;
        }
    }
    :root[chromehidden~="location"][chromehidden~="toolbar"] & {
        display: none !important;
    }
}
:where(:root[v_top_bar_autohide="true"]:not([customizing="true"])) #ucf-additional-top-container {
    position: relative !important;
    min-height: 0px !important;
    height: 0px !important;
    max-height: 0px !important;
    overflow: visible !important;
    #ucf-additional-top-box {
        position: absolute !important;
        z-index: 2 !important;
        top: 0 !important;
        bottom: auto !important;
        inset-inline-start: 0 !important;
        inset-inline-end: 0 !important;
        overflow: clip !important;
        pointer-events: none !important;
        #ucf-additional-top-bar:not([collapsed="true"]) {
            position: relative !important;
            border-bottom: 1px solid var(--chrome-content-separator-color, ThreeDShadow) !important;
            pointer-events: auto !important;
            opacity: 0 !important;
            margin-top: calc(-1 * var(--v-top-bar-height, 34px)) !important;
        }
        &[v_top_bar_visible] #ucf-additional-top-bar:not([collapsed="true"]) {
            transition-property: margin-top, opacity !important;
            transition-timing-function: linear, step-start !important;
            transition-duration: 0.2s, 0s !important;
            transition-delay: 0s, 0.2s !important;
        }
        &[v_top_bar_visible="true"] #ucf-additional-top-bar:not([collapsed="true"]) {
            margin-top: 0 !important;
            opacity: 1 !important;
            transition-delay: 0s !important;
        }
    }
}
