@-moz-document url("chrome://browser/content/browser.xhtml") {
	#sidebar-box {
		--v-sidebar-min-width: 2px;
		--v-sidebar-min-width-normal: 5px;
		--v-sidebar-max-width: 30em;
		--v-sidebar-transition-delay-show: .3s;
		--v-sidebar-transition-delay-hide: .6s;
		--v-sidebar-transition-duration: .3s;
		/* ********************************************** */
		position: relative !important;
		z-index: 2 !important;
		min-width: var(--v-sidebar-max-width) !important;
		width: var(--v-sidebar-max-width) !important;
		max-width: var(--v-sidebar-max-width) !important;
		overflow: hidden !important;
		opacity: 0 !important;
		--v-sidebar-margin-max-width: calc(-1 * var(--v-sidebar-max-width));
		--v-sidebar-transform-locale-dir: -1;
		--v-sidebar-transform-locale-dir-visible: 1;
		margin-inline-start: 0 !important;
		margin-inline-end: var(--v-sidebar-margin-max-width) !important;
		border: none !important;
		border-inline-end: 1px solid var(--sidebar-border-color, ThreeDShadow) !important;
		transform: translateX(calc(var(--v-sidebar-transform-locale-dir) * (var(--v-sidebar-max-width) - var(--v-sidebar-min-width)))) !important;
		transition-timing-function: linear, step-start, linear !important;
		transition-delay: var(--v-sidebar-transition-delay-hide), calc(var(--v-sidebar-transition-delay-hide) + var(--v-sidebar-transition-duration)), 0s !important;
		transition-duration: var(--v-sidebar-transition-duration), 0s, 0.2s !important;
		transition-property: transform, opacity, margin-top !important;
	}
	#sidebar-box[positionend="true"] {
		margin-inline-start: var(--v-sidebar-margin-max-width) !important;
		margin-inline-end: 0 !important;
		border-inline-start: 1px solid var(--sidebar-border-color, ThreeDShadow) !important;
		border-inline-end: none !important;
	}
	#sidebar-box[positionend="true"]:-moz-locale-dir(ltr), #sidebar-box:not([positionend="true"]):-moz-locale-dir(rtl) {
		--v-sidebar-transform-locale-dir: 1;
		--v-sidebar-transform-locale-dir-visible: -1;
	}
	:root[v_vertical_bar_visible="false"][v_vertical_bar_sidebar="true"] #sidebar-box:not(:hover, [sidebardrag]), :root[v_vertical_bar_visible="false"]:not([v_vertical_bar_sidebar]) #sidebar-box:not(:hover, [sidebardrag]) {
		transition-delay: 0s, var(--v-sidebar-transition-duration), 0s !important;
	}
	:root[sizemode="normal"] #sidebar-box {
		--v-sidebar-min-width: var(--v-sidebar-min-width-normal) !important;
	}
	#sidebar-box:hover, #sidebar-box[sidebardrag] {
		transform: translateX(0px) !important;
		opacity: 1 !important;
		transition-delay: var(--v-sidebar-transition-delay-show), var(--v-sidebar-transition-delay-show), 0s !important;
	}
	:root[v_vertical_bar_visible="true"][v_vertical_bar_start="true"] #sidebar-box:not([positionend="true"]), :root[v_vertical_bar_visible="true"][v_vertical_bar_start="false"] #sidebar-box[positionend="true"] {
		transform: translateX(calc(var(--v-sidebar-transform-locale-dir-visible) * var(--v-vertical-bar-width, 0px))) !important;
		opacity: 1 !important;
		transition-delay: 0s !important;
	}
	#sidebar-box > #sidebar {
		min-width: 0 !important;
		width: auto !important;
		max-width: none !important;
		flex-grow: 1 !important;
	}
	:root[BookmarksToolbarOverlapsBrowser] #sidebar-box {
		margin-top: var(--bookmarks-toolbar-overlapping-browser-height) !important;
	}
	:root[v_top_bar_overlaps="true"] #sidebar-box {
		margin-top: var(--v-top-bar-overlaps) !important;
	}
	:root[BookmarksToolbarOverlapsBrowser][v_top_bar_overlaps="true"] #sidebar-box {
		margin-top: calc(var(--bookmarks-toolbar-overlapping-browser-height) + var(--v-top-bar-overlaps)) !important;
	}
	#browser > #sidebar-splitter {
		display: none !important;
	}
}
