/* Этот файл для правил CSS с правами USER_SHEET работает во всех документах */

@-moz-document url-prefix("chrome:"), url("about:downloads") {
	richlistbox > richlistitem.download-state[state="0"] > .downloadPauseResumeButton {
		list-style-image: url("chrome://devtools/skin/images/pause.svg") !important;
	}
	richlistbox > richlistitem.download-state[state="4"] > .downloadPauseResumeButton {
		list-style-image: url("chrome://devtools/skin/images/play.svg") !important;
	}
	richlistbox > richlistitem.download-state[buttonhidden] .downloadPauseResumeButton,
	richlistbox > richlistitem.download-state:not(:is([state="0"],[state="4"])) .downloadPauseResumeButton {
		display: none !important;
	}
}