/* Этот файл для правил CSS с правами AGENT_SHEET работает во всех документах */

tooltip {
	-moz-appearance: none !important;
	appearance: none !important;
}
tooltip[hasbeenopened="true"] {
	padding: 4px 8px !important;
	font-size: 90% !important;
}
@media (prefers-color-scheme: light), (-moz-toolbar-prefers-color-scheme: light) {

tooltip[hasbeenopened="true"] {
	color: rgb(12, 12, 22) !important;
	background: #f8f8e0 !important;
	border: 1px solid gray;
}
tooltip[hasbeenopened="true"] :is(description,label) {
	color: inherit !important;
}
}
