/* правила CSS с правами USER_SHEET работает во всех документах */
@import url("./aris-t2/userChrome_macosx.css");
/* aris-t2/customcssforfx */

toolbar #downloads-button > .toolbarbutton-badge-stack { /* увеличить кнопку Загрузки */
	transform: scale(1.33, 1.33) !important; padding: 4px !important;
}

/* FIX aris-t2 tabs_below_navigation_toolbar_alt_macOS */
:root:not([inFullscreen]) .titlebar-buttonbox { margin-left: 7px !important; margin-top: 8px !important}
:root:not([inFullscreen]) #titlebar { margin-top: -1px !important;}
#main-window[tabsintitlebar]:not([sizemode="fullscreen"]) #nav-bar,
#main-window[tabsintitlebar][sizemode="maximized"]:not([sizemode="fullscreen"]) #nav-bar {
	margin-top: 0 !important; margin-left: 70px !important;
}
#main-window[tabsintitlebar][sizemode="maximized"] * #titlebar {
  margin-top: -5px !important;
}