*|*:root { /* кнопки управления окном: стиль Windows 10 */
	--v-titlebar-button-vert-padding: 5px; --v-titlebar-button-horizont-padding: 5px;
	--v-svg-filter-fill: url("data:image/svg+xml;charset=utf-8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='fill'><feComposite in='FillPaint' in2='SourceGraphic' operator='in'/></filter></svg>#fill");
	--v-titlebar-min-image: url("data:image/svg+xml;charset=utf-8,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg'><line stroke='black' stroke-width='.9' fill='none' shape-rendering='crispEdges' x1='1' y1='5.5' x2='11' y2='5.5'/></svg>");
	--v-titlebar-max-image: url("data:image/svg+xml;charset=utf-8,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg' stroke='black' stroke-width='.9' fill='none' shape-rendering='crispEdges'><rect x='1.5' y='1.5' width='9' height='9'/></svg>");
	--v-titlebar-maximized-image: url("data:image/svg+xml;charset=utf-8,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg' stroke='black' stroke-width='.9' fill='none' shape-rendering='crispEdges'><rect x='1.5' y='3.5' width='7' height='7'/><polyline points='3.5,3.5 3.5,1.5 10.5,1.5 10.5,8.5 8.5,8.5'/></svg>");
	--v-titlebar-close-image: url("data:image/svg+xml;charset=utf-8,<svg width='12' height='12' xmlns='http://www.w3.org/2000/svg'><path stroke='black' stroke-width='.9' fill='none' d='M1,1 l 10,10 M1,11 l 10,-10'/></svg>");
	--v-titlebar-button-image-height: 12px; --v-titlebar-button-image-width: 12px;
	--v-titlebar-button-background-hover: rgba(60,128,255,.2);
	--v-titlebar-button-background-active: rgba(0,0,0,.22);
	--v-titlebar-close-background-hover: rgb(227, 27, 93);
	--v-titlebar-close-background-active: rgb(191, 22, 78);
}
*|*:root:-moz-lwtheme-brighttext, toolbar[brighttext] {
	--v-titlebar-button-background-hover: rgba(255,255,255,.22);
	--v-titlebar-button-background-active: rgba(255,255,255,.12);
}
#titlebar-buttonbox > .titlebar-button, .titlebar-buttonbox > :-moz-any(.titlebar-min,.titlebar-max,.titlebar-restore,.titlebar-close), #minimize-button, #restore-button, #close-button {
	display: flex !important;
	-moz-appearance: none !important;
	margin: 0 !important;
	padding: var(--v-titlebar-button-vert-padding) var(--v-titlebar-button-horizont-padding) !important;
	color: var(--lwt-toolbarbutton-icon-fill, inherit) !important;
}
*|*:root:not([sizemode="maximized"]) .titlebar-buttonbox > .titlebar-restore[tooltiptext],
*|*:root[sizemode="maximized"] .titlebar-buttonbox > .titlebar-max[tooltiptext] {
	display: none !important;
}
@media (-moz-windows-glass), (-moz-os-version: windows-win8) {
	*|*:root[sizemode="normal"] > #titlebar {
		-moz-appearance: none !important;
		margin-bottom: calc(-1 * (var(--v-titlebar-button-vert-padding) * 2 + var(--v-titlebar-button-image-height))) !important;
	}
	*|*:root[sizemode="normal"] > #titlebar > #titlebar-content {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	*|*:root[sizemode="normal"] > #navigator-toolbox,
	*|*:root[sizemode="normal"] > box > #navigator-toolbox {
		border-top: none !important;
		padding-top: 0 !important;
		box-shadow: 0 1px 0 rgba(12,12,13,0.3) inset !important;
	}
	#titlebar-buttonbox,
	.titlebar-buttonbox {
		-moz-appearance: none !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	*|*:root {
		-moz-appearance: none !important;
		background-color: var(--lwt-accent-color, var(--v-windows-glass-default-background)) !important;
	}
	*|*:root:-moz-window-inactive {
		background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color, var(--v-windows-glass-default-background-inactive))) !important;
	}
	#TabsToolbar:-moz-lwtheme-darktext {
		color: inherit !important;
		--lwt-toolbarbutton-icon-fill: currentColor !important;
	}
	#TabsToolbar:not(:-moz-lwtheme) {
		color: inherit !important;
	}
	#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab {
		background-color: transparent !important;
	}
	vbox#appcontent {
		-moz-appearance: none !important;
	}
}
@media not all and (-moz-os-version: windows-win7) {
	#titlebar-buttonbox, .titlebar-buttonbox {
		-moz-appearance: none !important;
		align-items: start !important;
		justify-content: end !important;
	}
}
#window-controls { align-items: start !important;
}
#titlebar-buttonbox > .titlebar-button > .toolbarbutton-icon,
.titlebar-buttonbox > :-moz-any(.titlebar-min,.titlebar-max,.titlebar-restore,.titlebar-close) > .toolbarbutton-icon,
:-moz-any(#minimize-button,#restore-button,#close-button) > .toolbarbutton-icon {
	filter: var(--v-svg-filter-fill) !important;
	/*fill: currentColor !important;*/
	fill: dark !important;
	color: inherit !important;
	margin: 0 !important;
	padding: 0 !important;
	height: var(--v-titlebar-button-image-height) !important;
	width: var(--v-titlebar-button-image-width) !important;
}
#titlebar-buttonbox > #titlebar-min,
.titlebar-buttonbox > .titlebar-min,
#minimize-button {
	list-style-image: var(--v-titlebar-min-image) !important;
	-moz-image-region: auto !important;
}
#titlebar-buttonbox > #titlebar-max,
.titlebar-buttonbox > .titlebar-max {
	list-style-image: var(--v-titlebar-max-image) !important;
	-moz-image-region: auto !important;
}
*|*:root[sizemode="maximized"] #titlebar-buttonbox > #titlebar-max,
*|*:root[sizemode="maximized"] .titlebar-buttonbox > .titlebar-max,
.titlebar-buttonbox > .titlebar-restore,
#restore-button {
	list-style-image: var(--v-titlebar-maximized-image) !important;
	-moz-image-region: auto !important;
}
#titlebar-buttonbox > :-moz-any(#titlebar-min,#titlebar-max):hover,
.titlebar-buttonbox > :-moz-any(.titlebar-min,.titlebar-max,.titlebar-restore):hover,
:-moz-any(#minimize-button,#restore-button):hover {
	background-color: var(--v-titlebar-button-background-hover) !important;
}
#titlebar-buttonbox > :-moz-any(#titlebar-min,#titlebar-max):hover:active,
.titlebar-buttonbox > :-moz-any(.titlebar-min,.titlebar-max,.titlebar-restore):hover:active,
:-moz-any(#minimize-button,#restore-button):hover:active {
	background-color: var(--v-titlebar-button-background-active) !important;
}
#titlebar-buttonbox > #titlebar-close,
.titlebar-buttonbox > .titlebar-close,
#close-button {
	list-style-image: var(--v-titlebar-close-image) !important;
	-moz-image-region: auto !important;
}
#titlebar-buttonbox > #titlebar-close:hover,
.titlebar-buttonbox > .titlebar-close:hover,
#close-button:hover {
	background-color: var(--v-titlebar-close-background-hover) !important;
	color: white !important;
}
#titlebar-buttonbox > #titlebar-close:hover:active,
.titlebar-buttonbox > .titlebar-close:hover:active,
#close-button:hover:active {
	background-color: var(--v-titlebar-close-background-active) !important;
	color: white !important;
}